<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pdmsubecum">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".am15005.Activities.Documento.DocumentoActualizarActivity"></activity>
        <activity android:name=".am15005.Activities.Documento.DocumentoConsultarActivity" />
        <activity android:name=".am15005.Activities.Documento.DocumentoEliminarActivity" />
        <activity android:name=".am15005.Activities.Documento.DocumentoInsertarActivity" />
        <activity android:name=".pm15007.tipo_movimiento_equipo.UpdateTipoMovimientoEquipo" />
        <activity android:name=".pm15007.tipo_movimiento_equipo.RetrieveTipoMovimientoEquipo" />
        <activity android:name=".pm15007.tipo_movimiento_equipo.DeleteTipoMovimientoEquipo" />
        <activity android:name=".pm15007.tipo_movimiento_equipo.CreateTipoMovimientoEquipo" />
        <activity android:name=".am15005.Activities.Equipo.ConsultarEquipoActivity" />
        <activity android:name=".am15005.Activities.Equipo.ActualizarEquipoActivity" />
        <activity android:name=".am15005.Activities.Equipo.EliminarEquipoActivity" />
        <activity android:name=".am15005.Activities.Equipo.InsertarEquipoActivity" />
        <activity android:name=".rl08017.DocumentoExisActualizarActivity" />
        <activity android:name=".rl08017.DocumentoExisConsultarActivity" />
        <activity android:name=".rl08017.DocumentoExisEliminarActivity" />
        <activity android:name=".rl08017.DocumentoExisInsertarActivity" />
        <activity android:name=".rl08017.DocumentoMovActualizarActivity" />
        <activity android:name=".rl08017.DocumentoMovConsultarActivity" />
        <activity android:name=".rl08017.DocumentoMovEliminarActivity" />
        <activity android:name=".rl08017.DocumentoMovInsertarActivity" />
        <activity android:name=".rl08017.TiMovDocumentoActualizarActivity" />
        <activity android:name=".rl08017.TiMovDocumentoConsultarActivity" />
        <activity android:name=".rl08017.TiMovDocumentoEliminarActivity" />
        <activity android:name=".rl08017.TiMovDocumentoInsertarActivity" />
        <activity android:name=".rl08017.DocumentoExistenciaMenuActivity" />
        <activity android:name=".rl08017.DocumentoMovimientoMenuActivity" />
        <activity android:name=".rl08017.TiposDeMovimientoParaDocumentoMenuActivity" />
        <activity android:name=".am15005.Activities.Marca.ActualizarMarcaActivity" />
        <activity android:name=".am15005.Activities.Marca.ConsultarMarcaActivity" />
        <activity android:name=".am15005.Activities.Marca.InsertarMarcaActivity" />
        <activity android:name=".am15005.Activities.Marca.EliminarMarcaActivity" />
        <activity android:name=".am15005.DocActivity" />
        <activity android:name=".pm15007.equipo_existencia.CreateEquipoExistencia" />
        <activity android:name=".pm15007.equipo_existencia.CrudEquipoExistencia" />
        <activity android:name=".pm15007.equipo_existencia.DeleteEquipoExistencia" />
        <activity android:name=".pm15007.equipo_existencia.UpdateEquipoExistencia" />
        <activity android:name=".pm15007.equipo_existencia.RetrieveEquipoExistencia" />
        <activity android:name=".pm15007.unidad_administrativa.CreateUnidadAdministrativa" />
        <activity android:name=".pm15007.unidad_administrativa.CrudUnidadAdministrativa" />
        <activity android:name=".pm15007.unidad_administrativa.DeleteUnidadAdministrativa" />
        <activity android:name=".pm15007.unidad_administrativa.UpdateUnidadAdministrativa" />
        <activity android:name=".pm15007.unidad_administrativa.RetrieveUnidadAdministrativa" />
        <activity android:name=".pm15007.equipo_movimiento.CrudEquipoMovimiento" />
        <activity android:name=".pm15007.equipo_movimiento_detalle.CrudEquipoMovimientoDetalle" />
        <activity android:name=".pm15007.tipo_movimiento_equipo.CrudTipoMovimientoEquipo" />
        <activity android:name=".ts14004.AsignacionEquipoActualizarActivity" />
        <activity android:name=".ts14004.AsignacionEquipoConsultarActivity" />
        <activity android:name=".ts14004.AsignacionEquipoEliminarActivity" />
        <activity android:name=".ts14004.AsignacionEquipoInsertarActivity" />
        <activity android:name=".ts14004.AsignacionEquipoMenuActivity" />
        <activity android:name=".ts14004.DocenteActualizarActivity" />
        <activity android:name=".ts14004.DocenteConsultarActivity" />
        <activity android:name=".ts14004.DocenteEliminarActivity" />
        <activity android:name=".ts14004.DocenteInsertarActivity" />
        <activity android:name=".ts14004.DocenteMenuActivity" />
        <activity android:name=".ts14004.DocumentoAsignacionActualizarActivity" />
        <activity android:name=".ts14004.DocumentoAsignacionEliminarActivity" />
        <activity android:name=".ts14004.DocumentoAsignacionInsertarActivity" />
        <activity android:name=".ts14004.DocumentoAsignacionConsultarActivity" />
        <activity android:name=".ts14004.DocumentoAsignacionMenuActivity" />
        <activity android:name=".mm14031.HorarioMenuActivity" />
        <activity android:name=".mm14031.GrupoMenuActivity" />
        <activity android:name=".mm14031.MateriaMenuActivity" />
        <activity
            android:name=".mm14031.MateriaEliminarActivity"
            android:label="@string/title_activity_materia_eliminar" />
        <activity android:name=".mm14031.MateriaActualizarActivity" />
        <activity android:name=".mm14031.MateriaConsultarActivity" />
        <activity android:name=".mm14031.MateriaInsertarActivity" />
        <activity android:name=".mm14031.GrupoEliminarActivity" />
        <activity android:name=".mm14031.GrupoActualizarActivity" />
        <activity android:name=".mm14031.GrupoConsultarActivity" />
        <activity android:name=".mm14031.GrupoInsertarActivity" />
        <activity android:name=".mm14031.HorarioEliminarActivity" />
        <activity android:name=".mm14031.HorarioActualizarActivity" />
        <activity android:name=".mm14031.HorarioConsultarActivity" />
        <activity android:name=".mm14031.HorarioInsertarActivity" />
        <activity android:name=".Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--
        <activity
            android:name=".MenuCarnet"
            android:label="@string/title_activity_menu_carnet">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        -->
        <activity android:name=".Carnets" />
        <activity android:name=".am15005.AM15005" />
        <activity android:name=".mm14031.MM14031" />
        <activity android:name=".pm15007.PM15007" />
        <activity android:name=".rl08017.RL08017" />
        <activity android:name=".ts14004.TS14004" />
    </application>

</manifest>