<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pdmsubecum">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".rl08017.DocumentoExisActualizarActivity"></activity>
        <activity android:name=".rl08017.DocumentoExisConsultarActivity" />
        <activity android:name=".rl08017.DocumentoExisEliminarActivity" />
        <activity android:name=".rl08017.DocumentoExisInsertarActivity" />
        <activity android:name=".rl08017.DocumentoMovActualizarActivity" />
        <activity android:name=".rl08017.DocumentoMovConsultarActivity" />
        <activity android:name=".rl08017.DocumentoMovEliminarActivity" />
        <activity android:name=".rl08017.DocumentoMovInsertarActivity" />
        <activity android:name=".rl08017.TiMovDocumentoActualizarActivity" />
        <activity android:name=".rl08017.TiMovDocumentoConsultarActivity" />
        <activity android:name=".rl08017.TiMovDocumentoEliminarActivity" />
        <activity android:name=".rl08017.TiMovDocumentoInsertarActivity" />
        <activity android:name=".rl08017.DocumentoExistenciaMenuActivity" />
        <activity android:name=".rl08017.DocumentoMovimientoMenuActivity" />
        <activity android:name=".rl08017.TiposDeMovimientoParaDocumentoMenuActivity" />
      <activity android:name=".am15005.Activities.Marca.ActualizarMarcaActivity"></activity>
     <activity android:name=".am15005.Activities.Marca.ConsultarMarcaActivity"></activity>
        <activity android:name=".am15005.Activities.Marca.InsertarMarcaActivity"></activity>
        <activity android:name=".am15005.Activities.Marca.EliminarMarcaActivity"></activity>
        <activity android:name=".am15005.DocActivity"></activity>
        <activity android:name=".pm15007.equipo_existencia.CreateEquipoExistencia"></activity>
        <activity android:name=".pm15007.equipo_existencia.CrudEquipoExistencia"></activity>
        <activity android:name=".pm15007.equipo_existencia.DeleteEquipoExistencia"></activity>
        <activity android:name=".pm15007.equipo_existencia.UpdateEquipoExistencia"></activity>
        <activity android:name=".pm15007.equipo_existencia.RetrieveEquipoExistencia"></activity>
        <activity android:name=".pm15007.unidad_administrativa.CreateUnidadAdministrativa"></activity>
        <activity android:name=".pm15007.unidad_administrativa.CrudUnidadAdministrativa"></activity>
        <activity android:name=".pm15007.unidad_administrativa.DeleteUnidadAdministrativa"></activity>
        <activity android:name=".pm15007.unidad_administrativa.UpdateUnidadAdministrativa"></activity>
        <activity android:name=".pm15007.unidad_administrativa.RetrieveUnidadAdministrativa"></activity>
        <activity android:name=".pm15007.equipo_movimiento.CrudEquipoMovimiento"></activity>
        <activity android:name=".pm15007.equipo_movimiento_detalle.CrudEquipoMovimientoDetalle">
        </activity>
        <activity android:name=".pm15007.tipo_movimiento_equipo.CrudTipoMovimientoEquipo"></activity>
        <activity android:name=".ts14004.AsignacionEquipoActualizarActivity"></activity>
        <activity android:name=".ts14004.AsignacionEquipoConsultarActivity"></activity>
        <activity android:name=".ts14004.AsignacionEquipoEliminarActivity"></activity>
        <activity android:name=".ts14004.AsignacionEquipoInsertarActivity"></activity>
        <activity android:name=".ts14004.AsignacionEquipoMenuActivity"></activity>
        <activity android:name=".ts14004.DocenteActualizarActivity"></activity>
        <activity android:name=".ts14004.DocenteConsultarActivity"></activity>
        <activity android:name=".ts14004.DocenteEliminarActivity"></activity>
        <activity android:name=".ts14004.DocenteInsertarActivity"></activity>
        <activity android:name=".ts14004.DocenteMenuActivity"></activity>
        <activity android:name=".ts14004.DocumentoAsignacionActualizarActivity"></activity>
        <activity android:name=".ts14004.DocumentoAsignacionEliminarActivity"></activity>
        <activity android:name=".ts14004.DocumentoAsignacionInsertarActivity"></activity>
        <activity android:name=".ts14004.DocumentoAsignacionConsultarActivity"></activity>
        <activity android:name=".ts14004.DocumentoAsignacionMenuActivity"></activity>

        <activity android:name=".mm14031.HorarioMenuActivity"></activity>
        <activity android:name=".mm14031.GrupoMenuActivity" />
        <activity android:name=".mm14031.MateriaMenuActivity" />
        <activity
            android:name=".mm14031.MateriaEliminarActivity"
            android:label="@string/title_activity_materia_eliminar" />
        <activity android:name=".mm14031.MateriaActualizarActivity" />
        <activity android:name=".mm14031.MateriaConsultarActivity" />
        <activity android:name=".mm14031.MateriaInsertarActivity" />
        <activity android:name=".mm14031.GrupoEliminarActivity" />
        <activity android:name=".mm14031.GrupoActualizarActivity" />
        <activity android:name=".mm14031.GrupoConsultarActivity" />
        <activity android:name=".mm14031.GrupoInsertarActivity" />
        <activity android:name=".mm14031.HorarioEliminarActivity" />
        <activity android:name=".mm14031.HorarioActualizarActivity" />
        <activity android:name=".mm14031.HorarioConsultarActivity" />
        <activity android:name=".mm14031.HorarioInsertarActivity" />
        <activity android:name=".Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--
        <activity
            android:name=".MenuCarnet"
            android:label="@string/title_activity_menu_carnet">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        -->
        <activity android:name=".Carnets" />
        <activity android:name=".am15005.AM15005" />
        <activity android:name=".mm14031.MM14031" />
        <activity android:name=".pm15007.PM15007" />
        <activity android:name=".rl08017.RL08017" />
        <activity android:name=".ts14004.TS14004"></activity>
    </application>

</manifest>